body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: white; 
    color: white; 
    background: url(/Content/img/typing_4.jpg) no-repeat center center fixed;
        -moz-background-size: cover; 
        -webkit-background-size: cover; 
        -o-background-size: cover;
    background-size: cover;
}

html,body {
    height:100%;
}

.container {
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

.navbar {
    background-color: #1C2126;
    opacity: 0.9;
}

.contentBox {
    width: 70%;
    height: auto;
    padding: 5%;
    margin: auto auto 10%;
    background-color: rgba(0, 0, 0, 0.8);   
    min-width: 150px; 
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; 
	height: 100%;
	margin: 0 auto -30px;
}
.footer, .push {
    width: 80%;
    margin: 0 auto 5px;
    text-align: center;
	height: 30px;
}

.results {
    text-align: center;
    height: 120px;
    font-size: 18px;
}

.incorrect {
    background-color: orange;
    color: black;    
}

.orange {
    color: orange;
}

.typeahead {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 98%;
}

.loading {
    display: none;
}