<h3>Prepišite ovaj tekst:</h3>
<br />
<p>
    Ovo je tekst kojeg upisuje korisnik i kojeg sustav treba obraditi tako da 
    otkrije koji je korisnik tipkao. Sustav mjeri vrijeme svake pritisnute tipke 
    i intervale između pritisnutih tipki i na taj način radi algoritam usporedbe.
</p>
<br />

<form method="get" action="@Url.Action("")" data-otf-ajax="true" data-otf-target="#resultBox">

    <textarea id="userInput" class="form-control" rows="5" cols="12"></textarea>
    <br /><br />
    <button id="submitBtn" type="submit" class="btn">Potvrdi</button>

</form>

<div id="resultBox">
</div>