@{
    ViewBag.Title = "Početna";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/animateCursor.js"></script>
}

<span> > Tko to tipka?</span><span id="cursor">_</span>