@{
    ViewBag.Title = "Nauči";
}

@section AddToHead{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/learn.js"></script> 
    <script src="~/Scripts/measurement.js"></script>
}

<div id="learnContent">

    <h3>Upišite username:</h3>
    <br />
    <p>
        Ako prvi put koristite aplikaciju, upišite username kako bi sustav mogao zaključiti o kojem se korisniku radi.
        Nakon toga, prepisat ćete zadani tekst.
    </p>
    <br />


    <form method="post">
        <input id="username" type="text" class="form-control" placeholder="Username">
        <br />
        <button id="submitUsernameBtn" type="submit" class="btn">Potvrdi</button>
    </form>

    <div id="usernameResult">

    </div>
</div>