@section AddToHead{
    <script src="~/Scripts/saveFirstInput.js"></script>
    <script src="~/Scripts/measurement.js"></script>
    <script src="~/Scripts/LevenshteinAlgorithm.js"></script>
}

<div id="learningForm">
    @RenderPage("~/Views/Home/Form.cshtml")
</div>