@{
    ViewBag.Title = "Nauči";
}

@if (!@ViewBag.InDatabase)
{
    
    
    <h3>Upišite username:</h3>
    <br />
    <p>
        [objašnjenje] 
    </p>

        <form method="get">
            <input type="text" class="form-control" placeholder="Username">
            <br />
            <button id="submitUsernameBtn" type="submit" class="btn">Potvrdi</button>
        </form>

}
else
{
    @RenderPage("~/Views/Home/Form.cshtml")
}