@{
    ViewBag.Title = "Prepoznaj";
}

@section AddToHead{  
    <script src="~/Scripts/recognize.js"></script>
    <script src="~/Scripts/measurement.js"></script>
    <script src="~/Scripts/LevenshteinAlgorithm.js"></script>
}
<div id="recognizeForm">
    @RenderPage("~/Views/Home/Form.cshtml")
</div>